h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "LeoHand";
  src: url("../fonts/LeoHand.woff") format("woff");
  src: url("../fonts/LeoHand.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Blitz-Script";
  src: url("../fonts/Blitz-Script") format("otf");
  font-weight: 500;
  font-style: normal; }

body {
  background: #fceaa5;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "LeoHand", sans-serif;
  color: white;
  font-size: 90px; }

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 810px;
  width: 600px;
  -ms-flex-item-align: center;
      align-self: center;
  background-image: url(./../images/board.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto; }

.feild {
  display: grid;
  grid-template: repeat(3, 160px)/repeat(3, 160px);
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  align-self: center;
  margin: auto; }

.cell {
  position: relative;
  text-align: center; }

.cell_1,
.cell_2,
.cell_4,
.cell_5,
.cell_3,
.cell_6 {
  border-bottom: 10px solid white; }

.cell_1,
.cell_2,
.cell_4,
.cell_5,
.cell_7,
.cell_8 {
  border-right: 10px solid white; }

.btn {
  height: 100px;
  background: none;
  color: white;
  font-size: 90px;
  margin-bottom: 100px;
  justify-self: end;
  font-family: "Blitz-Script", "LeoHand", sans-serif;
  border-style: none;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn:hover {
    font-size: 95px; }

hr {
  width: 480px;
  height: 5px;
  background-color: white;
  margin: 0; }

.horisontal {
  position: absolute;
  top: 50%;
  width: 480px;
  -ms-flex-item-align: center;
      align-self: center; }

.crossed1_9 {
  position: absolute;
  width: 665px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0; }

.crossed3_7 {
  position: absolute;
  right: 15px;
  width: 665px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: right top 0;
          transform-origin: right top 0; }

.vertical {
  position: absolute;
  width: 480px;
  left: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0; }

.message {
  position: absolute;
  width: 100%;
  top: 100px;
  margin: auto;
  text-align: center; }

.emoticon {
  background-image: url(../images/emoticon1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;
  margin: auto; }

/*# sourceMappingURL=main.css.map */
